body {
    background: linear-gradient(to right, #280841, #8e0012);
}

.card1 {
    background-color: #000;
    border-radius: 0px;
}

.countdown {
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
    color: #fff;
    /* background-color: #fff; */
    /* padding: 15px 40px; */
    text-align: center;
    height: 100%;
}

.countdown p {
    display: inline;
    float: left;
    margin: 0 auto;
    display: block;
    padding: 0px 10px;
}

/* .bg-blue {
    background-color: #000;
    color: #fff;
    padding: 5px;
} */

.btn-danger {
    background-color: red;
}

.btn-danger:hover, .btn-danger:focus {
    background-color: red;
}

@media only screen and (max-width:767px) {
    .countdown {
        display: flex;
        justify-content: center;
        font-size: 12px;
    }

}

@media only screen and (min-width:768px) and (max-width:991px) {
    .countdown {
        display: flex;
        width: 50%;
        justify-content: center;
    }
}

@media only screen and (min-width:992px) {
    .card1 {
        max-width: 960px;
        display: block;
        margin: 0 auto;
    }

    .seats {
        margin-top: 100px;
    }

    .countdown {
        display: flex;
        width: 50%;
        justify-content: center;
    }

    .logo {
        width: 30%;
        display: block;
        margin: 0 auto;
    }
}